---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";

import en from "../language/en.json";
import es from "../language/es.json";

const lang = Astro.cookies.get("lang")?.value || "en";
const index = lang === "es" ? en.INDEX : es.INDEX;
---

<Layout
  title="Porfolio de David Uribe"
  description="Hire David Uribe to build your next web or mobile app. A frontend developer specializing in React, TypeScript, MySQL, and React Native. Passionate about creating unique user experiences and sharing knowledge as a content creator to help others grow in tech"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        {index.section1}
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        {index.section2}
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        {index.section3}
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
