---
const personalImageAlt = "David Uribe"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is David Uribe, and I am passionate about Frontend Development. I started programming at a young age and have been continuously improving my skills. I am currently focused on building projects that enhance user experiences and streamline processes.
    </p>

    <p>
      Some of my recent projects include developing a bike rental application, where I implemented user roles, managed data with a MySQL database, and integrated Google Maps API for real-time bike location tracking. I also contributed to the development of an internal event management platform at Globant, where I built an interactive interface using React to help teams manage events and track key metrics.
    </p>

    <p>
      As a content creator, I am committed to improving the employability of the Spanish-speaking community. My goal is to provide valuable content on programming and web development to help others enhance their skills and build great projects.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
