---
import { date } from "astro/zod"
import ExperienceItem from "./ExperienceItem.astro"

import en from "../language/en.json"
import es from "../language/es.json"

const lang = Astro.cookies.get("lang")?.value || "en"
const EXPERIENCE = lang === "en" ? es.experience : en.EXPERIENCE

---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
