---
const personalImageAlt = "David Uribe"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"

---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me2.png" 
      alt={personalImageAlt}
    />
    <a
      href="mailto:imyeti479@gmail.com"  
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hi, I'm David Uribe
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Frontend Developer with hands-on experience building responsive, user-focused applications using React, TypeScript, and modern web tools. I’ve contributed to real-world projects using cloud platforms like GCP and AWS, and I enjoy turning complex ideas into clean, scalable interfaces. Currently working on personal and open-source projects while looking for opportunities to grow and collaborate with passionate teams.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:imyeti479@gmail.com">  <!-- Asegúrate de poner tu email -->
      <MailIcon class="size-4" />
      Contact Me
    </SocialPill>
    <SocialPill href="https://github.com/ImYetiDev">
      <LinkedInIcon class="size-4" />
      Github
    </SocialPill>
  </nav>
</div>
